@import "../styles.css";

.card {
  border: var(--border-width-thin) solid var(--border-color);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  box-shadow: var(--shadow-sm);
  background: var(--background-primary);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform var(--transition-normal), box-shadow var(--transition-normal);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-md);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md) var(--space-md);
  padding-bottom: var(--space-lg);
}

.logo {
  height: 32px;
  object-fit: contain;
}

.officialTag {
  color: var(--text-color-quaternary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

.cardImage {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: var(--border-radius-md);
  padding: 0 18px;
  box-sizing: border-box;
}

.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-md);
  border: var(--border-width-thin) solid var(--border-color);
  box-sizing: border-box;
}

.statusPill {
  position: absolute;
  bottom: 10px;
  left: 28px;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  z-index: 2;
  box-shadow: var(--shadow-sm);
}

.statusPill.completed {
  background-color: var(--green-primary);
  color: white;
}

.statusPill.incomplete {
  background-color: var(--orange-primary);
  color: white;
}

.cardContent {
  padding: var(--space-md);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cardContent h3 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--space-xs);
}

.cardContent p {
  font-size: var(--font-size-sm);
  color: var(--text-color-secondary);
  line-height: var(--line-height-normal);
  margin-bottom: var(--space-md);
  flex-grow: 1;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.mockButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  background-color: var(--blue-primary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: var(--space-sm) var(--space-md);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm);
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  transition: background-color var(--transition-fast);
  margin-left: auto; /* Aligns button to the right */
}

.mockButton:hover {
  background-color: var(--blue-secondary);
}

.mockButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.disabledButton {
  background-color: #e0e0e0;
  color: #999;
  cursor: not-allowed;
}

.demoCard {
  position: relative;
  z-index: 0;
}

/* Media query for mobile */
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
} 