@import "../styles.css";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
  padding: 0px 20px;
}

.header h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 16px;
}

.header p {
  font-size: 18px;
  color: #555;
  max-width: 700px;
  margin: 0 auto;
}

.interviewCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.card {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  background: white;
  display: flex;
  flex-direction: column;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 16px 20px;
padding-bottom: 26px;
}

.logo {
  height: 32px;
  object-fit: contain;
}

.officialTag {
  color: #0066cc;
  font-size: 14px;
  font-weight: 500;
}

.cardImage {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
  padding:0px 18px;

}

.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #eaeaea;

}

.cardContent {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cardContent h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.cardContent p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
  flex-grow: 1;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.mockButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--blue-primary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  transition: background-color 0.2s;
  margin-left: auto; /* Aligns button to the right */
}

.mockButton:hover {
  background-color: var(--blue-secondary);
}

@media (max-width: 768px) {
  .interviewCards {
    grid-template-columns: 1fr;
  }
} 