@import "../../styles.css";

/* .landing-page {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.landing-content {
  padding: var(--space-md);
}

.about-section {
  text-align: center;
  padding: var(--space-3xl) var(--space-md);
  max-width: 800px;
  margin: 0 auto;
}  */